<div class="container">

    <h1>Decoupled Stack Overflow</h1>
    <h2>All Questions</h2>

    <div class="all-questions">
        <table>
          <tr>
            <th>Title</th>
            <th>Content</th>
          </tr>

            <tr class="each-question-index">
            </tr>
        </table>
    </div>

</div>
