<div class="container">

    <h1>Decoupled Stack Overflow</h1>
    <h2>Individual Question</h2>

    <div class="each-question">
        <table class="one-question">
          <tr>
            <th>Title</th>
            <th>Content</th>
          </tr>
        </table>
    </div>

</div>
